.grid-container {
    border: 3px solid rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 420px 420px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 70px;
}
.grid-item {
    border: 3px solid black;
    margin: 5px;
    text-align: center;
    box-shadow: 5px 5px rgb(0, 0, 0);
    border-radius: 20px;
}

section {
    div {
        .catalogimage {
            max-width: 320px;
        }
    }
}
.boton {
    width: 200px;
    height: 30px;
    background-color: rgb(146, 85, 165);
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 1px solid rgb(146, 85, 165);
    transition: transform 1s ease-in-out;
    &:hover {
        background-color: rgb(127, 198, 231);
        border: 1px solid rgb(127, 198, 231);
        transform: scale(1.1);
    }
}
@media (max-width: 1180px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        margin: 10px;
    }
}
