.col {
    justify-content: center;
}

.productonombre {
    font-weight: 200;
    color: #735C25;
}
.productprice {
    font-weight: 300;
    color: #CC510B;
}
.añadir {
    font-weight: 200;
    color: #735C25;
}
.colecciontitle {
    font-size: 40px;
    font-weight: 900;
    color: #735C25;
    justify-content: center;
}
.container {
    padding-top: 40px;
    padding-bottom: 40px;
}