.container {
    div {
        div {
            .misiontitle {
                color: rgb(146, 85, 165);
                font-weight: 800;
                font-size: 30px;
            }
            .misiontext {
                font-weight: 400;
                font-size: 20px;
            }
        }
    }
}