.containerfooter {
    text-align: center;
    padding: auto;
    max-width: 1920px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px; 
}
@media (max-width: 768px) {
    .col {
        flex-basis: calc(50% - 20px); 
    }
}
@media (max-width: 576px) {
    .col {
        flex-basis: 100%;
    }
}
footer {
    background-color: #E7DDC5;
    padding-top: 30px;
    .row {
        div {
            .redes {
                max-width: 40px;
                padding: 4px;
                transition: transform 2s ease-in-out 1ms;
                &:hover {
                    transform: translate(0px, -15px);
                }
            }
        }
    }
}
.footertitle {
    font-weight: 800;
    font-size: 20px;
    color: #908EC5;
}

