.containerfooter {
    text-align: center;
    padding: auto;
}
footer {
    .row {
        div {
            .redes {
                max-width: 40px;
                padding: 4px;
                transition: transform 2s ease-in-out 1ms;
                &:hover {
                    transform: translate(0px, -15px);
                }
            }
        }
    }
}